
h1{
color: aqua;
text-align: center;
background-color: blue;
border: 10px solid;
width: 250px;
height: 100px;
margin: auto;
padding-top:10%;
} 



ul {
    margin: 15;
    padding:0;
  }
  
  li a {
    display:14 px;
    width: 100px;
    background-color:rgb(255, 255, 255);
  }