


table {
  border-collapse: collapse;
  width: 100%;
  background-color:#FAEDCD;
}

th, td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid ;
  color:black;
     
}
  
tr:nth-child(even) 
{
  background-color:#98DFD6;
   
  
}
  
  
h1 {
    background-color:#F0EEED;
    }


